.root{
    -fx-background-color: crimson;
}
.label{
    -fx-font-size: 20;
    -fx-font-family: "DejaVu Sans Mono";
    -fx-text-fill: darkgreen;
    -fx-alignment: center;
}
#TopLabel{
    -fx-font-size: 35;
}
#up{-fx-background-color: aqua;}
#down{ -fx-background-color: aqua}
#left{ -fx-background-color: blueviolet}
#right{ -fx-background-color: blueviolet}